*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(13, 46, 209);
}

nav{
    width: 1500%;
    height: 150%;
    background-color:rgb(65, 181, 202)   ;
}
.Hi{
    position: absolute;
    width:150%;
}
ul {
   margin-left: 150px;
}

ul li {
   list-style: none;
   display: inline-block;
   float:none;
   line-height: 150px;
}

ul li a {
display:block;
text-decoration: none;
font-size: 30px;
font-family: arial;
color: rgb(156, 216, 209);
padding:0 20px;
} 

ul li a:hover {
    color: rgb(13, 46, 209);
    }   